<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spring Boot Thymeleaf example</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message"
         role="alert">
        [[${message}]]
        <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="my-3">
        <form th:action="@{/employee/search-by-name}">
            <div class="row d-flex">
                <div class="col-md-6 mt-2">
                    <div class="search">
                        <i class="fa fa-search"></i>
                        <div>
                        <input id="keyword" type="search" name="keyword" th:value="${keyword}" required class="form-control"
                               placeholder="Enter keyword">
                        <button type="submit" class="btn btn-secondary">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div>
        <table class="table table-hover table-responsive-xl">
            <thead class="thead-light">
            <tr>
                <th scope="col">Employee No</th>
                <th scope="col">Employee Name</th>
                <th scope="col">Position</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee:${employees}">
                <th scope="row" th:text="${employee.empNo}" />
                <td th:text="${employee.empName}" />
                <td th:text="${employee.position}" />
                <td>
                    <a th:href="@{'/employee/new-form-update/'+ ${employee.empNo}}" title="Edit this employee"
                       class="fa-regular fa-pen-to-square icon-dark"></a>

                    <a th:href="@{'/employee/delete/' + ${employee.empNo}}"  id="btnDelete"
                       title="Delete this tutorial" class="fa-regular fa-trash-can icon-dark btn-delete"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>